body {
    font-family: "Open Sans", sans-serif;
    background-color:grey;
    background-position: right bottom 200px;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #02000c;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, rgb(228, 179, 236));
    padding: 20px 0;
}

.jumbotron {
    padding: 50px;
    background-image: url(/img/logo.png);
    color: rgb(38, 21, 189);
    margin: 0;
}


.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;

}

.navbar {
    background-color: #2a202d;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}